

body, svg {
        font-family: 'Oswald', sans-serif;
        font-weight: 400
        /* font-size: 48px; */
 }

.mapTitle {

        font-family: 'Oswald', sans-serif;
        font-weight: 600;
        /* font-size: auto; */
        /* font-size: 60px; */
        /* font-size: 4vw; */
        font-size: calc(23px + 2.2vw);
        text-transform:uppercase;
        /* transform: translate(20px, 4vh) */
        transform: translate(20px, calc(10px + 1vw))
        /* transform: translate(20px,30px) */

}

.mapSubTitle {

        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        /* font-size: 25px; */
        font-size: calc(9.5px + 1vw);
        /* transform: translate(20px, 9vh) */
        transform: translate(20px, calc(24px + 2.8vw))
        /* transform: translate(20px,70px) */
}

.mapCredit {

        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: calc(6px + 0.4vw);
        /* transform: translate(10px,93px) */
        transform: translate(10px, calc(35px + 3.5vw))
        /* font-size: 12px; */
}

.legend {
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
        /* font-size: 9.5px; */
        font-size: calc(7px + 0.2vw);
        text-transform:uppercase;
        /* transform: translate(30px, calc(100px + 5vw)) */
}

#legend {
        transform: translate(12px, calc(50px + 5vw))
}

.tooltipInfo {
      font-family: 'Oswald', sans-serif;
      font-weight: 300;
      font-size: 13px;
      /* cursor: pointer; */
}

.infoText {
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: 11px;
        /* cursor: none; */
  }

#titleContainer {
      width: 40vw;
      height: 10vh;
      /* background:grey; */
      /* opacity:0.5 */
      /* font-size: 100%; */
}    

#infoPoint:hover {
        font-weight: 900;
        cursor: pointer
}

/* body { margin: 0; padding: 0; } */
/* #bivmap { position: absolute; top: 0; bottom: 0; } */

/* #bivmap {
        height: 100%;
        width: 100%;
}

#bivmapcontainer {
        height: 100vh;
    width: auto;
} */